---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github-token.yaml
  - datastore-backblaze.yaml
  - route.yaml
  - projects/default/infisical.yaml
  - projects/default/onepassword-connect.yaml
  - projects/default/repos/backblaze.yaml
  - projects/default/repos/cloudflare.yaml
  - projects/default/repos/pvr.yaml

helmCharts:
  - name: burrito
    repo: oci://ghcr.io/padok-team/charts
    version: 0.9.1
    releaseName: burrito
    namespace: burrito-system
    valuesFile: values.yaml
