---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - onepassword-connect-token-store.yaml
  - route.yaml

helmCharts:
  - name: connect
    repo: https://1password.github.io/connect-helm-charts
    version: 2.1.1
    releaseName: connect
    namespace: onepassword
    valuesInline:
      connect:
        credentialsName: onepassword-connect-server-credentials
        serviceType: LoadBalancer
        loadBalancerIP: 192.168.8.71
