---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - mullvad.yaml
  - volsync.yaml

configMapGenerator:
  - name: gluetun-configmap
    files:
      - config/gluetun/servers.json
  - name: qbtools-configmap
    files:
      - config/qbtools/config.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
    releaseName: qbittorrent
    namespace: qbittorrent
    valuesFile: values-qbittorrent.yaml
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
    releaseName: qbtools
    namespace: qbittorrent
    valuesFile: values-qbtools.yaml
