---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cloudflared-token.yaml

configMapGenerator:
  - name: cloudflared-configmap
    files:
      - config.yaml=./config/config.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.0
    releaseName: cloudflared
    namespace: cloudflared
    valuesFile: values.yaml
