---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  cloudflared:
    replicas: 2
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: docker.io/cloudflare/cloudflared
          tag: 2026.1.1@sha256:5bb6a0870686742d00e171f36c892ba91e5994631bc363d808b9ba822262dad6
        env:
          NO_AUTOUPDATE: true
          TUNNEL_METRICS: 0.0.0.0:2000
        envFrom:
          - secretRef:
              name: cloudflared-token
        args:
          - "tunnel"
          - "run"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ready
                port: 2000
              failureThreshold: 1
              initialDelaySeconds: 10
              periodSeconds: 10
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000

service:
  app:
    controller: cloudflared
    ports:
      http:
        port: 2000

serviceMonitor:
  app:
    serviceName: cloudflared
    endpoints:
      - port: http

persistence:
  config:
    type: configMap
    name: cloudflared-configmap
    globalMounts:
      - path: /etc/cloudflared/config.yaml
        subPath: config.yaml
        readOnly: true
