---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  plex:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/plex
          tag: 1.43.0@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          PLEX_ADVERTISE_URL: https://plex.mcmahan.io:443,http://192.168.8.79:32400
          PLEX_NO_AUTH_NETWORKS: 192.168.0.0/16
        resources:
          requests:
            gpu.intel.com/i915: 1
            cpu: 1000m
            memory: 2048Mi
          limits:
            gpu.intel.com/i915: 1
            cpu: 2000m
            memory: 4096Mi

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"
    supplementalGroups:
      - 44 # video

service:
  web:
    enabled: true
    controller: plex
    type: LoadBalancer
    loadBalancerIP: "192.168.8.79"
    ports:
      http:
        port: 32400

route:
  plex:
    hostnames: ["plex.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 32400

persistence:
  config:
    enabled: true
    existingClaim: plex-config
    advancedMounts:
      plex:
        app:
          - path: /config
  cache:
    enabled: true
    suffix: cache
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      plex:
        app:
          - path: /config/Library/Application Support/Plex Media Server/Cache
  transcode:
    enabled: true
    type: emptyDir
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media/plex
    advancedMounts:
      plex:
        app:
          - path: /data
            readOnly: true
