---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  calibre:
    containers:
      app:
        image:
          repository: ghcr.io/linuxserver/calibre
          tag: 9.4.0@sha256:ec82029d6968b26982647b340d32592edaa6de90dd4dcc2c2dd603a75ee66da2
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          PUID: 979
          PGID: 979
      web:
        image:
          repository: ghcr.io/linuxserver/calibre-web
          tag: 0.6.26@sha256:68c0e408e7c307b4e0abcd8b2fadc6279d67867767a2a926eda0c921d9d6bbd8
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          PUID: 979
          PGID: 979
          DOCKER_MODS: "linuxserver/mods:universal-calibre"
          OAUTHLIB_RELAX_TOKEN_SCOPE: 1

service:
  app:
    enabled: true
    controller: calibre
    type: LoadBalancer
    ports:
      desktop:
        port: 80
        targetPort: 8080
      webserver:
        port: 81
        targetPort: 8081
  web:
    enabled: true
    controller: calibre
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8083

route:
  calibre:
    hostnames: ["calibre.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: app
            port: 80
  calibre-web:
    hostnames: ["calibre-web.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    suffix: config
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      calibre:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      calibre:
        app:
          - path: /data
  web-config:
    enabled: true
    existingClaim: calibre-web-config
    advancedMounts:
      calibre:
        web:
          - path: /config
  web-books:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media/books
    advancedMounts:
      calibre:
        web:
          - path: /books
