---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  calibre:
    containers:
      app:
        image:
          repository: ghcr.io/linuxserver/calibre
          tag: 8.15.0@sha256:364083f5bee4290a8decf0d3a0480260eb24347509e82a79d08e1c2c723ed431
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          PUID: 979
          PGID: 979
      web:
        image:
          repository: ghcr.io/linuxserver/calibre-web
          tag: 0.6.25@sha256:29b391ae22e336c80cc9acad7702d342ae18669b203d6b3698e2126322187a1e
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          PUID: 979
          PGID: 979
          DOCKER_MODS: "linuxserver/mods:universal-calibre"
          OAUTHLIB_RELAX_TOKEN_SCOPE: 1

service:
  app:
    enabled: true
    controller: calibre
    type: LoadBalancer
    ports:
      desktop:
        port: 80
        targetPort: 8080
      webserver:
        port: 81
        targetPort: 8081
  web:
    enabled: true
    controller: calibre
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8083

route:
  calibre:
    hostnames: ["calibre.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: app
            port: 80
  calibre-web:
    hostnames: ["calibre-web.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    suffix: config
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      calibre:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      calibre:
        app:
          - path: /data
  web-config:
    enabled: true
    existingClaim: calibre-web-config
    advancedMounts:
      calibre:
        web:
          - path: /config
  web-books:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media/books
    advancedMounts:
      calibre:
        web:
          - path: /books
