---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  mealie:
    containers:
      app:
        image:
          repository: ghcr.io/mealie-recipes/mealie
          tag: v3.5.0
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          BASE_URL: "mealie.mcmahan.io"

service:
  web:
    enabled: true
    controller: mealie
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 9000

route:
  mealie:
    hostnames: ["mealie.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  data:
    enabled: true
    existingClaim: mealie-data
    advancedMounts:
      mealie:
        app:
          - path: /app/data
