---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
defaultPodOptions:
  priorityClassName: system-node-critical

controllers:
  generic-device-plugin:
    type: daemonset
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/squat/generic-device-plugin
          tag: latest@sha256:378507952df386aa2f39abd30558c1d04cd76aa11db7b85f37aaee9bb28b0eb9
        args:
        - --device
        - |
          name: tun
          groups:
            - count: 1000
              paths:
                - path: /dev/net/tun
        resources:
          requests:
            cpu: 50m
            memory: 10Mi
          limits:
            cpu: 50m
            memory: 20Mi
        securityContext:
          privileged: true

persistence:
  dev:
    type: hostPath
    hostPath: /dev
    globalMounts:
      - readOnly: true
  device-plugin:
    type: hostPath
    hostPath: /var/lib/kubelet/device-plugins
