---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - prometheusrule.yaml

helmCharts:
  - name: snapshot-controller
    repo: https://piraeus.io/helm-charts/
    version: 4.2.0
    releaseName: snapshot-controller
    namespace: volsync
  - name: volsync
    repo: https://backube.github.io/helm-charts/
    version: 0.13.1
    releaseName: volsync
    namespace: volsync
    valuesInline:
      metrics:
        disableAuth: true
