---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  lidarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/lidarr
          tag: 3.1.2@sha256:91b053243e34dd405456c9269692195f2c524c4eaa8884d5cfd670449fe584aa
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: lidarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
          pullPolicy: IfNotPresent
        args:
          - lidarr
        env:
          PORT: "9707"
          URL: http://lidarr-web
        envFrom:
          - secretRef:
              name: lidarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: lidarr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8686
  metrics:
    controller: lidarr
    ports:
      metrics:
        port: 9707

route:
  lidarr:
    hostnames: ["lidarr.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

serviceMonitor:
  metrics:
    serviceName: lidarr-metrics
    endpoints:
      - port: metrics

persistence:
  config:
    enabled: true
    existingClaim: lidarr-config
    advancedMounts:
      lidarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      lidarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/backup/pvr
    advancedMounts:
      lidarr:
        app:
          - path: /backup
