---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  sonarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: sonarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
          pullPolicy: IfNotPresent
        args:
          - sonarr
        env:
          PORT: "9707"
          URL: http://sonarr-web
        envFrom:
          - secretRef:
              name: sonarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: sonarr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8989
  metrics:
    controller: sonarr
    ports:
      metrics:
        port: 9707

route:
  sonarr:
    hostnames: ["sonarr.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

serviceMonitor:
  metrics:
    serviceName: sonarr-metrics
    endpoints:
      - port: metrics

persistence:
  config:
    enabled: true
    existingClaim: sonarr-config
    advancedMounts:
      sonarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      sonarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/backup/pvr
    advancedMounts:
      sonarr:
        app:
          - path: /backup
