---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - certificate.yaml

helmCharts:
  - name: traefik-crds
    repo: https://helm.traefik.io/traefik
    version: 1.13.0
    releaseName: traefik-crds
    namespace: traefik
    valuesInline:
      gatewayAPI: true
  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 37.4.0
    releaseName: traefik-remote
    namespace: traefik
    valuesFile: values-remote.yaml
  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 37.4.0
    releaseName: traefik-local
    namespace: traefik
    valuesFile: values-local.yaml
