---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/master/traefik/values.schema.json
providers:
  kubernetesGateway:
    enabled: true
    labelselector: "gateway-class=remote"
  kubernetesIngress:
    enabled: false

gatewayClass:
  enabled: true
  name: remote
  labels:
    gateway-class: remote

gateway:
  enabled: true
  name: remote
  annotations:
    external-dns.alpha.kubernetes.io/target: remote.mcmahan.io
  listeners:
    web:
      hostname: "*.mcmahan.io"
      namespacePolicy:
        from: Same
    websecure:
      port: 8443
      hostname: "*.mcmahan.io"
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
        - name: mcmahan-io-tls
          kind: Secret

ingressClass:
  enabled: false

service:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: remote.mcmahan.io
  type: LoadBalancer
  spec:
    loadBalancerIP: "192.168.8.80"

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https

metrics:
  prometheus:
    serviceMonitor:
      enabled: true
