---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/master/traefik/values.schema.json
providers:
  kubernetesGateway:
    enabled: true
    labelSelector: "gateway-class=local"
  kubernetesIngress:
    enabled: false

gatewayClass:
  enabled: true
  name: local
  labels:
    gateway-class: local

gateway:
  enabled: true
  name: local
  annotations:
    external-dns.alpha.kubernetes.io/target: local.mcmahan.io
  listeners:
    web:
      hostname: "*.mcmahan.io"
      namespacePolicy:
        from: Same
    websecure:
      port: 8443
      hostname: "*.mcmahan.io"
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
        - name: mcmahan-io-tls
          kind: Secret

ingressClass:
  enabled: false

service:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: local.mcmahan.io
  type: LoadBalancer
  spec:
    loadBalancerIP: "192.168.8.81"

ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
