---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  readarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/readarr
          tag: 0.4.18@sha256:8f7551205fbdccd526db23a38a6fba18b0f40726e63bb89be0fb2333ff4ee4cd
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: readarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
          pullPolicy: IfNotPresent
        args:
          - readarr
        env:
          PORT: "9707"
          URL: http://readarr-web
        envFrom:
          - secretRef:
              name: readarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: readarr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8787
  metrics:
    controller: readarr
    ports:
      metrics:
        port: 9707

serviceMonitor:
  metrics:
    serviceName: readarr-metrics
    endpoints:
      - port: metrics

route:
  readarr:
    hostnames: ["readarr.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    existingClaim: readarr-config
    advancedMounts:
      readarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      readarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/backup/pvr
    advancedMounts:
      readarr:
        app:
          - path: /backup
