---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  prowlarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/prowlarr
          tag: 2.3.2@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: prowlarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
          pullPolicy: IfNotPresent
        args:
          - prowlarr
        env:
          PORT: "9707"
          URL: http://prowlarr-web
        envFrom:
          - secretRef:
              name: prowlarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: prowlarr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 9696
  metrics:
    controller: prowlarr
    ports:
      metrics:
        port: 9707

serviceMonitor:
  metrics:
    serviceName: prowlarr-metrics
    endpoints:
      - port: metrics

route:
  prowlarr:
    hostnames: ["prowlarr.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    existingClaim: prowlarr-config
    advancedMounts:
      prowlarr:
        app:
          - path: /config
  backup:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/backup/pvr
    advancedMounts:
      prowlarr:
        app:
          - path: /backup
