---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - pushover-token.yaml
  - alertmanagerconfig.yaml
  - route.yaml
  - grafana-credentials.yaml

helmCharts:
  - name: prometheus-operator-crds
    repo: https://prometheus-community.github.io/helm-charts
    version: 27.0.0
    releaseName: prometheus-operator-crds
    namespace: prometheus
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 81.6.4
    releaseName: kube-prometheus-stack
    namespace: prometheus
    valuesFile: values.yaml
