---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  overseerr:
    containers:
      app:
        image:
          repository: ghcr.io/linuxserver/overseerr
          tag: 1.34.0@sha256:feddc11664639721d4e220d161ce5eb8fd2483d2e252e3e119570abcce3c7474
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"

service:
  web:
    enabled: true
    controller: overseerr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 5055

route:
  overseerr:
    hostnames: ["overseerr.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    existingClaim: overseerr-config
    advancedMounts:
      overseerr:
        app:
          - path: /config
