---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  overseerr:
    containers:
      app:
        image:
          repository: ghcr.io/linuxserver/overseerr
          tag: 1.35.0@sha256:53a1b839ffa81f139e1552840772bff8a5d13f5c78a69cce22458b9a6cd0844d
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"

service:
  web:
    enabled: true
    controller: overseerr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 5055

route:
  overseerr:
    hostnames: ["overseerr.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    existingClaim: overseerr-config
    advancedMounts:
      overseerr:
        app:
          - path: /config
