---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  homebox:
    containers:
      app:
        image:
          repository: ghcr.io/sysadminsmedia/homebox
          tag: 0.21.0
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
          HBOX_OPTIONS_ALLOW_REGISTRATION: "false"

service:
  web:
    enabled: true
    controller: homebox
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 7745

route:
  homebox:
    hostnames: ["homebox.mcmahan.io"]
    parentRefs:
      - name: remote
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  data:
    enabled: true
    existingClaim: homebox-data
    advancedMounts:
      homebox:
        app:
          - path: /data
