---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
controllers:
  radarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.1.0@sha256:ba33a817917792a589f1223e2da9d336692f9eb626b15ff8c7f06afcab4356bd
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: radarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0
          pullPolicy: IfNotPresent
        args:
          - radarr
        env:
          PORT: "9707"
          URL: http://radarr-web
        envFrom:
          - secretRef:
              name: radarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: radarr
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 7878
  metrics:
    controller: radarr
    ports:
      metrics:
        port: 9707

serviceMonitor:
  metrics:
    serviceName: radarr-metrics
    endpoints:
      - port: metrics

route:
  radarr:
    hostnames: ["radarr.mcmahan.io"]
    parentRefs:
      - name: local
        namespace: traefik
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: web
            port: 80

persistence:
  config:
    enabled: true
    existingClaim: radarr-config
    advancedMounts:
      radarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/media
    advancedMounts:
      radarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: new-peepums
    path: /volume1/backup/pvr
    advancedMounts:
      radarr:
        app:
          - path: /backup
