# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - addresspool.yaml

helmCharts:
  - name: metallb
    repo: https://metallb.github.io/metallb
    version: 0.15.3
    releaseName: metallb
    namespace: metallb
    valuesInline:
      prometheus:
        rbacPrometheus: false
        serviceMonitor:
          enabled: true
        prometheusRule:
          enabled: true
