---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - apikeys.yaml
  - volsync.yaml

configMapGenerator:
  - name: recyclarr-configmap
    files:
      - recyclarr.yml=./config/recyclarr.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.3.0
    releaseName: recyclarr
    namespace: recyclarr
    valuesFile: values.yaml
