---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - dashboard-credentials.yaml
  - route.yaml

helmCharts:
  - name: rook-ceph
    repo: https://charts.rook.io/release
    version: v1.18.2
    releaseName: rook-release
    namespace: rook-ceph
    valuesInline:
      enableDiscoveryDaemon: true
      monitoring:
        enabled: true
      csi:
        enableCephfsDriver: false
        enableCephfsSnapshotter: false
        serviceMonitor:
          enabled: true
  - name: rook-ceph-cluster
    repo: https://charts.rook.io/release
    version: v1.18.2
    releaseName: rook-release
    namespace: rook-ceph
    valuesInline:
      monitoring:
        enabled: true
        createPrometheusRules: true
      toolbox:
        enabled: true
      cephClusterSpec:
        cephConfig:
          global:
            bdev_enable_discard: "true"
            bdev_async_discard_threads: "1"
        dashboard:
          enabled: true
          ssl: false
        mgr:
          modules:
            - name: rook
              enabled: true
      cephBlockPoolsVolumeSnapshotClass:
        enabled: true
        isDefault: true
      cephFileSystems: []
      cephObjectStores: []
